<div class="text-center py-5">
    <h1 class="display-3 text-danger">CLEARWAY CYBER 2025</h1>
    <p class="lead text-warning">Week 1: Vulnerable App</p>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card bg-black border-danger">
                <div class="card-body">
                    <h3 class="text-danger">VULNERABILITIES</h3>
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-danger">SQL Injection (Login)</li>
                        <li class="list-group-item bg-dark text-warning">Stored XSS (Bio)</li>
                        <li class="list-group-item bg-dark text-info">Plaintext Passwords</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
