<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-black border-success">
            <div class="card-body p-5">
                <h2 class="text-center mb-4 text-success">Signup</h2>
                <form method="POST">
                    <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
                    <input type="text" name="name" class="form-control mb-3" placeholder="Name">
                    <input type="password" name="password" class="form-control mb-3" placeholder="Password" required>
                    <textarea name="bio" class="form-control mb-3" placeholder="Bio "></textarea>
                    <button class="btn btn-success w-100">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>